.v-list__tile--active .v-list__tile__action:first-of-type .v-icon {
  color: rgba(0, 0, 0, 0.54);
}

.pointer {
  cursor: pointer;
}

.h100 {
  height: 100% !important;
}

.pick-switch {
  .v-input--switch__thumb,
  .v-input--switch__track {
    color: #82b1ff !important;
    caret-color: #82b1ff !important;
  }
}
